
<form action="">
    <label for="">Search your movie</label>
    <input type="text" name="search" id="">
    <button>Search</button>
</form>


{{#if movieSearch}}
<h1>{{movieSearch.title}}</h1>
{{/if}}

